.base {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.airT {
    border-color: #00AEED;
    border-width: 3px;
    border-style: solid;
    /*background-color: #1c85c1;*/
}

.waterT {
    border-color: #06B885;
    border-width: 3px;
    border-style: solid;
    /*background-color: #0067a2;*/
}

.hum {
    border-color: #6BA3B9;
    border-width: 3px;
    border-style: solid;
    /*background-color: #ffa906;*/
}

.cond {
    border-color: #FFC63B;
    border-width: 3px;
    border-style: solid;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.inline {
    font-size: 12px; 
}

/* Begin switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(92,184,92);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(92,184,92);
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End switch styles */