.prova {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.pos {
    position: relative;
}

.dim-color {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: #000;
    display: block;
}

.mar {
    margin-top: 10px;
}