<my-booting [ngClass]="{'hidden':videoHide}" style="position: fixed; z-index: 3000;"></my-booting>
<div id="wrapper" [ngClass]="{'toggled':menuClosed}">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="overflow-x: hidden;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">
                        <div class="row"><my-logo></my-logo></div>
                    </a>
                </li>
                <li>
                    <div><a routerLink="/" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/home.png" class="ico" >Home</a></div>
                </li>
                <li>
                    <div><a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/graphW.png" class="ico" >Dashboard</a></div>
                </li>
                <li> 
                    <div><a routerLink="/control" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/leaft2W.png" class="ico" >La mia coltivazione</a></div>
                </li>
                <li>
                    <div><a routerLink="/recipes" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/bookW.png" class="ico" >Ricette</a></div>
                </li>
                <!--
                <li>
                    <div><a routerLink="/guide" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/infoW.png" class="ico" >Guida all'utilizzo</a></div>
                </li>
                -->
                <li>
                    <div><a routerLink="/website" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/whoW.png" class="ico" >Chi siamo</a></div>
                </li>
                <li>
                    <div><a routerLink="/advanced" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/settingsW.png" class="ico" >Advanced</a></div>
                </li>
                <li>
                    <div><a routerLink="/shutdown" routerLinkActive="active" (click)="closeMenu()"><img src="../app/ext/icov2/shutdownB.png" class="ico" >Shutdown</a></div>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="menuNav"><a id="menu-toggle"><my-hamburger (click)="closeMenu()"></my-hamburger></a></div>
        <div id="page-content-wrapper" style="overflow-x: hidden;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->