.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.backgorundUp {
    background-image: './app/ext/icov2/up.png'
}

.backgorundDown {
    background-image: './app/ext/icov2/down.png'
}

.backgorundButton {
    background-color: rgb(255,255,255);
}

.marginRL {
    margin-left: 30px;
    margin-right: 30px;
}