video#backgroundvid { 
    position: fixed;
    right: 0; 
    bottom: 0; 
    /*min-width: 100%; 
    min-height: 100%;*/ 
    width: 100%; 
    height: 100%; 
    z-index: -100;  
    background-size: cover;  
    background-color: rgb(0,135,0);
}