<h2 class="text-center">Le mie ricette</h2>
<br>
<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr class="text-center">
                <td><strong>Numero</strong></td>
                <td><strong>Nome</strong></td>
                <td><strong>T aria</strong></td>
                <td><strong>T acqua</strong></td>
                <td><strong>Umidità</strong></td>
                <td><strong>pH</strong></td>
                <td><strong>Conducibilità</strong></td>
                <td><strong>RGB</strong></td>
                <td><strong>Luce</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of ServerRecipes; let k = index" class="text-center" [ngClass]="{'info':recipe.id_recipe === select}" (click)="selectedRow(recipe, light[k])">
                <td class="text-center">{{recipe?.id_recipe}}</td>
                <td class="text-center">{{recipe?.Name}}</td>
                <td class="text-center">{{recipe?.AirTemperature}}</td>
                <td class="text-center">{{recipe?.WaterTemperature}}</td>
                <td class="text-center">{{recipe?.Humidity}}</td>
                <td class="text-center">{{recipe?.PH}}</td>
                <td class="text-center">{{recipe?.Conductivity}}</td>
                <td class="text-center">{{recipe?.RGB}}</td>
                <td class="text-center">{{light[k]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-success pull-right" (click)="setRecipe()">Applica ricetta</button>